/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  header {
    background-color: #343a40;
    color: black;
    padding: 20px 0;
    text-align: center;
    border-radius: 0% 0% 50% 50%;
    opacity: 0.75;
    font-size: 20px;
  }
  
  header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    animation: fadeIn 1.5s forwards;
    color: black;
  }

  #about {
    text-align: center;
  }

  #serti {
    text-align: center;
  }

  #portofolio h2 {
    text-align: center;
  }

  header, main, footer {
    background-color: #ccc;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #adb5bd;
  }
  
  main {
    padding: 50px 5px;
  }

  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  section {
    margin-bottom: 50px;
    min-height: 100vh;
    animation: slideInFromLeft 3s ease-out forwards;
  }
  
  section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  section p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .project {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
  }
  
  .project:hover {
    transform: translateY(-15px);
  }
  
  .project img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .project h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .project p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  
  #contact {
    width: 95%;
    max-width: 500px;
    margin: 20px auto 20px auto;
    text-align: center;
  }
  
  #contact p {
    text-align: center;
    margin-bottom: 40px;
  }
  
  #contact form div {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  #contact form label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    display: block;
  }
  
  #contact form input,
  #contact form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
  }
  
  #contact form textarea {
    height: 150px;
  }
  
  #contact form button {
    background-color: #343a40;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #contact form button:hover {
    background-color: darkblue;
  }
  
  footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
  }

  footer nav ul li a svg {
    transition: transform 0.3s ease; 
  }
  
  footer nav ul li a:hover svg {
    transform: translateY(-5px); 
  }

  .foto {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    overflow: hidden!important;
    position: relative!important;
    margin-bottom: 1.5rem!important;
    border-radius: .25rem!important;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
  }

  .foto:hover {
    transform: translateY(-15px);
  }


  figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  figure > * {
    grid-area: 1/1;
    transition: .4s;
  }
  figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
  }
  figure:hover figcaption{
    --_i: 0%;
  }
  figure:hover img {
    transform: scale(1.2);
  }
  @supports not (-webkit-mask-clip: text) {
    figure figcaption {
     -webkit-mask: none;
     color: #fff;
    }
  }